#multiple-datasets {
	text-align: center;
}

#multiple-datasets .star-wars {
	margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.tt-menu {
	background: white;
}

form {
	width: 30%;
	margin: 0 auto;
}

.twitter-typeahead {
	display: block !important;
}

@media (max-width:750px){
	form {
		width:50%;
	}
}